---
import { cn } from "../../lib/utils";
---

<table
  class={cn(
    "path bg-gray-700",
    "[&_td]:border [&_td]:border-black [&_td]:w-[22.5px] [&_td]:h-[22.5px] [&_img]:w-[9px] [&_img]:mx-auto"
  )}
>
  <tr>
    <td class="r44 b31 y5 g18"></td>
    <td class="y56 bg-yellow-300"></td>
    <td class="r32 b19 y45 g6"></td>
  </tr>
  <tr>
    <td class="r43 b30 y4 g17"></td>
    <td class="y55 bg-yellow-300"></td>
    <td class="r33 b20 y46 g7"></td>
  </tr>
  <tr>
    <td class="r42 b29 y3 g16"></td>
    <td class="y54 bg-yellow-300"></td>
    <td class="r34 b21 y47 g8"></td>
  </tr>
  <tr>
    <td class="r41 b28 y2 g15"></td>
    <td class="y53 bg-yellow-300"></td>
    <td class="r35 b22 y48 g9 bg-[url('/white-star.png')] bg-contain"></td>
  </tr>
  <tr>
    <td class="r40 b27 y1 g14 bg-yellow-300"></td>
    <td class="y52 bg-yellow-300"></td>
    <td class="r36 b23 y49 g10"></td>
  </tr>
  <tr>
    <td class="r39 b26 g13"></td>
    <td class="r38 b25 y51 g12 bg-[url('/arrows/yellow.png')] bg-contain"></td>
    <td class="r37 b24 y50 g11"></td>
  </tr>
</table>
