---
import { cn } from "../../lib/utils";
---

<table
  class={cn(
    "path bg-gray-700",
    "[&_td]:border [&_td]:border-black [&_td]:w-[22.5px] [&_td]:h-[22.5px] [&_img]:w-[9px] [&_img]:mx-auto"
  )}
>
  <tr>
    <td class="r11 b50 y24 g37"></td>
    <td class="r12 b51 y25 g38 bg-[url('/arrows/blue.png')] bg-contain"></td>
    <td class="r13 y26 g39"></td>
  </tr>
  <tr>
    <td class="r10 b49 y23 g36"></td>
    <td class="b52 bg-sky-300"></td>
    <td class="r14 b1 y27 g40 bg-sky-300"></td>
  </tr>
  <tr>
    <td class="r9 b48 y22 g35 bg-[url('/white-star.png')] bg-contain"></td>
    <td class="b53 bg-sky-300"></td>
    <td class="r15 b2 y28 g41"></td>
  </tr>
  <tr>
    <td class="r8 b47 y21 g34"></td>
    <td class="b54 bg-sky-300"></td>
    <td class="r16 b3 y29 g42"></td>
  </tr>
  <tr>
    <td class="r7 b46 y20 g33"></td>
    <td class="b55 bg-sky-300"></td>
    <td class="r17 b4 y30 g43"></td>
  </tr>
  <tr>
    <td class="r6 b45 y19 g32"></td>
    <td class="b56 bg-sky-300"></td>
    <td class="r18 b5 y31 g44"></td>
  </tr>
</table>
