---
import { cn } from "../../lib/utils";
---

<table
  class={cn(
    "middle-table path bg-gray-700",
    "[&_td]:border [&_td]:border-black [&_td]:w-[22.5px] [&_td]:h-[22.5px] [&_img]:w-[9px] [&_img]:mx-auto"
  )}
>
  <tr>
    <td class="b39 y13 g26"></td>
    <td class="r1 b40 y14 g27 bg-red-300"></td>
    <td class="r2 b41 y15 g28"></td>
    <td class="r3 b42 y16 g29"></td>
    <td class="r4 b43 y17 g30"></td>
    <td class="r5 b44 y18 g31"></td>
  </tr>
  <tr>
    <td class="r51 b38 y12 g25 bg-[url('/arrows/red.png')] bg-contain"></td>
    <td class="r52 bg-red-300"></td>
    <td class="r53 bg-red-300"></td>
    <td class="r54 bg-red-300"></td>
    <td class="r55 bg-red-300"></td>
    <td class="r56 bg-red-300"></td>
  </tr>
  <tr>
    <td class="r50 b37 y11 g24"></td>
    <td class="r49 b36 y10 g23"></td>
    <td class="r48 b35 y9 g22 bg-[url('/white-star.png')] bg-contain"></td>
    <td class="r47 b34 y8 g21"></td>
    <td class="r46 b33 y7 g20"></td>
    <td class="r45 b32 y6 g19"></td>
  </tr>
</table>
