---
import { cn } from "../../lib/utils";
---

<table
  class={cn(
    "middle-table path bg-gray-700",
    "[&_td]:border [&_td]:border-black [&_td]:w-[22.5px] [&_td]:h-[22.5px] [&_img]:w-[9px] [&_img]:mx-auto"
  )}
>
  <tr>
    <td class="r19 b6 y32 g45"></td>
    <td class="r20 b7 y33 g46"></td>
    <td class="r21 b8 y34 g47"></td>
    <td class="r22 b9 y35 g48 bg-[url('/white-star.png')] bg-contain"></td>
    <td class="r23 b10 y36 g49"></td>
    <td class="r24 b11 y37 g50"></td>
  </tr>
  <tr>
    <td class="g56 bg-green-300"></td>
    <td class="g55 bg-green-300"></td>
    <td class="g54 bg-green-300"></td>
    <td class="g53 bg-green-300"></td>
    <td class="g52 bg-green-300"></td>
    <td class="r25 b12 y38 g51 bg-[url('/arrows/green.png')] bg-contain"></td>
  </tr>
  <tr>
    <td class="r31 b18 y44 g5"></td>
    <td class="r30 b17 y43 g4"></td>
    <td class="r29 b16 y42 g3"></td>
    <td class="r28 b15 y41 g2"></td>
    <td class="r27 b14 y40 g1 bg-green-300"></td>
    <td class="r26 b13 y39"></td>
  </tr>
</table>
