<div class="w-[68.5px] h-[68.5px] bg-[url('/ludo-home.jpg')] bg-contain [&_img]:w-[9px] [&_img]:mx-auto">
  <table id="win">
    <tr>
      <td></td>
      <td class="b57 w-[23px] h-[23px]"></td>
      <td></td>
    </tr>
    <tr>
      <td class="r57 w-[23px] h-[23px]"></td>
      <td></td>
      <td class="g57 w-[23px] h-[23px]"></td>
    </tr>
    <tr>
      <td></td>
      <td class="y57 w-[23px] h-[23px]"></td>
      <td></td>
    </tr>
  </table>
</div>
