---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import { cn } from "../lib/utils";
import OneVsOneOptions from "../components/computer/one-vs-one-options.astro";
import OneVsTwoOptions from "../components/computer/one-vs-two-options.astro";
import OneVsThreeOptions from "../components/computer/one-vs-three-options.astro";
import SelectGameMode from "../components/select-game-mode.astro";
---

<Layout>
  <main class="flex justify-center items-center min-h-screen p-2 bg-azure w-[95%] mx-auto">
    <div class="rounded-2xl shadow-md bg-white px-5 sm:px-10 py-5 w-full max-w-lg">
      <SelectGameMode />
      <OneVsOneOptions />
      <OneVsTwoOptions />
      <OneVsThreeOptions />
    </div>
  </main>
</Layout>

<script>
  sessionStorage.setItem("computer", "true");
</script>
