---
import ShareButton from "../components/share-button.astro";
import Layout from "../layouts/Layout.astro";
import GameButton from "../components/game-button.astro";
---

<Layout>
  <main class="flex justify-center items-center h-dvh p-2">
    <div class="rounded-2xl shadow-md bg-white px-5 sm:px-10 py-5 w-full max-w-lg space-y-5">
      <div>
        <img
          class="block mx-auto min-h-28 h-28 mb-2"
          draggable="false"
          src="/logo.png"
          alt="Ludon logo"
          loading="eager"
        />
        <h2 class="text-center font-semibold text-lg">Roll the Dice, Rule the Board!</h2>
      </div>

      <div class="grid grid-cols-2 gap-8">
        <a href="/pass-and-play">
          <GameButton id="pass-and-play" class="w-full" text="Pass & Play" color="#629e76" /></a
        >
        <a href="/computer"> <GameButton id="computer" class="w-full" text="Computer" color="#3ebbf7" /></a>
      </div>

      <div>
        <p class="text-center font-medium mb-5">Share Ludon with your friends</p>
        <ShareButton />
      </div>

      <p class="text-center">
        Created by
        <a class="underline font-medium" href="https://x.com/yourcodebuddy">Yourcodebuddy</a>
      </p>
    </div>
  </main>
</Layout>

<script>
  sessionStorage.clear();
</script>
