---
import CustomCursor from "../scripts/custom-cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Ludon - Roll the Dice, Rule the Board!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet" />
  </head>
  <body class="bg-ludon-yellow/50">
    <slot />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <div
      class="bg-ludon-blue bg-ludon-red bg-ludon-green bg-ludon-yellow border-ludon-blue border-ludon-red border-ludon-green border-ludon-yellow"
    >
    </div>
  </body>
</html>

<style is:global>
  @import "tailwindcss";

  html {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  @theme inline {
    --color-ludon-red: #db5c4c;
    --color-ludon-blue: #4187a0;
    --color-ludon-green: #629e76;
    --color-ludon-yellow: #f9c64b;
  }
  .sixgif {
    background-image: url("/gifs/horse-circle.gif");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
</style>
<CustomCursor />
